.sidenav-container {
  background-color: white;
  height: 100vh;

}
.p-4 {
  padding: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.notif-container {
  position: relative;
  display: inline-block;
}

.badge {
  background-color: red;
  color: white;
  font-size: 0.75rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  font-weight: bold;
}



.notif-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  width: 350px;
  max-height: 400px;
  overflow: auto;
  background: white;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.4);
  z-index: 1000;
}

.no-notifs {
  padding: 16px;
  text-align: center;
  color: gray;
}

.secondary {
  font-size: 0.8rem;
  color: gray;
}




mat-toolbar {

  position: fixed;
  background-color: #599baf;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.sidenav-container {

  margin-top: 64px;
  height: calc(100vh - 64px);
}

@media (max-width: 600px) {
  .sidenav-container {

    margin-top: 56px;
    height: calc(100vh - 56px);
  }
}



.notifications-container {
  width: 320px;
  height: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.error-alert {
  border-radius: 0.375rem;
  padding: 1rem;
  background-color: rgb(254 242 242);
}

.error-svg {
  color: #F87171;
  width: 1.25rem;
  height: 1.25rem;
}

.error-prompt-heading {
  color: #991B1B;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.error-prompt-container {
  display: flex;
  flex-direction: column;
  margin-left: 1.25rem;
}

.error-prompt-wrap {
  margin-top: 0.5rem;
  color: #B91C1C;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.error-prompt-list {
  padding-left: 1.25rem;
  margin-top: 0.25rem;
  list-style-type: disc;
}

/* campana */

.button {
  margin-bottom: 12px;
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  border: none;
}

.bell {
  width: 18px;
}

.bell path {
  fill: rgb(56, 56, 56);
}

.button:hover {
  background-color: white;
}

.button:hover .bell {
  animation: bellRing 0.9s both;
}

/* bell ringing animation keyframes*/
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

.button:active {
  transform: scale(0.8);
}
